@font-face {
  font-family: "biro_script_standardRgus";
  src:
    url("https://jzhao.xyz/static/font/biro_script_standard_us.woff2") format("woff2"),
    url("https://jzhao.xyz/static/font/biro_script_standard_us.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
